<template>
  <div class="wrap">
    <div class="wrap-inner">  
      <h1>Uvjeti korištenja</h1>
      <h3>Opće odredbe</h3>
      <p>Hrvatska turistička zajednica (u daljem tekstu: HTZ) nositelj je prava da kreira i/ili objavljuje sadržaj te upravlja internetskim stranicama (internetskim portalom) Croatia.hr, Htz.hr, Kroatien.hr, Hrvatska.hr, Horvatia.hr, Horvatorszag.hr, Croatie.hr, Croazia.hr, Chorvatsko.hr, Chorwacja.hr, Croacia.hr , Visitacroacia.es, croatia.travel, visitcroatia.be, kroatischverkeersbureau.nl, Kroatie.hr, Kroatien.at, Turismo.hr, Tourisme.hr, Tourismus.hr, Tourism.hr, lovecroatia.hr, visitcroatiasharecroatia.hr, sharecroatia.hr, hrvatska365.hr, hrvatska365.eu, croatia365.eu, kroatien365.eu, kroatien365.hr, tjedanodmoravrijedan.hr, hrvaska365.eu, chorwacja365.eu, croatie365.eu, croazia365.eu, kroatie365.eu, kroatia365.eu, meetingscroatia.hr, meetingscroatia.com volim-hrvatsku.com, volim-hrvatsku.info, volim-hrvatsku.net, volim-hrvatsku.org, volim-hrvatsku.eu, crowine.hr, cro-wine.hr, crofood.hr, cro-food.hr, fulloflife.eu, croatiafulloflife.eu, fulloflife.hr, croatiafulloflife.hr, croatiafeeds.com, feeds.croatia.hr, potpore.htz.hr (u daljem tekstu: Internetske stranice).</p>
      <p>Osoba koja koristi Internetske stranice (u daljem tekstu: Korisnik), korištenjem istih bezuvjetno pristaje na primjenu ovih Uvjeta korištenja te se smatra da je ista sposobna prihvatiti ove Uvjete korištenja i da shvaća sve rizike povezane s korištenjem ovdje objavljenog i dostupnog sadržaja.</p>
      <p>Korištenje sadržaja dostupnog na Internetskim stranicama (bez obzira je li isti slobodno dostupan bilo kojem Korisniku ili ograničeno dostupan primjenom zaštićenih sustava i aplikacija informacijske tehnologije) dozvoljeno je isključivo na način i pod uvjetima određenim ovim Uvjetima korištenja.</p>
      <p>Svako drugačije korištenje sadržaja dostupnog na Internetskim stranicama podliježe odgovarajućoj pravnoj zaštiti i primjeni odgovarajućih i pravno dopuštenih mjera prema Korisniku i/ili trećoj osobi koja ima korist od takvog korištenja ovdje dostupnog sadržaja.</p>
      <h3>Objavljeni sadržaj</h3>
      <p>Sadržajem objavljenim i dostupnim na Internetskim stranicama smatra se tekst, grafika, zaštitni znaci, logotipi, fotografije, fonogrami, videogrami i drugi audiovizualni sadržaj, računalne aplikacije i baze podataka kao i svi ostali informativni ili tehnički materijali, bez obzira na način prikaza, objave ili njihove dostupnosti Korisniku.</p>
      <h3>Pravo intelektualnog vlasništva</h3>
      <p>Sadržaj objavljen na Internetskim stranicama zaštićen je propisima prava intelektualnog vlasništva pa svako njegovo neovlašteno korištenje može predstavljati osnovu za pokretanje postupka za zaštitu prava prema Korisniku od strane HTZ-a ili treće osobe koja je ovlašteni nositelj autorskih prava.</p>
      <p>HTZ će pri objavi autorskog sadržaja omogućiti prikaz imena autora sadržaja odnosno nositelja autorskih prava, na način na koji je to optimalno moguće učiniti bez većih troškova ili implementacije posebnih tehničkih rješenja.</p>
      <h3>Dostupnost Internetskih stranica</h3>
      <p>HTZ ne može jamčiti dostupnost Internetskih stranica u svako vrijeme i putem svake vrste uređaja i preglednika kao i svake komunikacijske veze. Internetske stranice mogu biti privremeno ili duže, u cijelosti ili djelomično nedostupne iz razloga tehničke i druge prirode (održavanje, greške, nedostupnost komunikacijskih veza, viša sila, odluke tijela javne vlasti i sl.) HTZ se ne može smatrati odgovornim za bilo kakvu štetu nastalu radi nedostupnosti Internetskih stranica. HTZ može u svako doba izvršiti preinake Internetskih stranica na bilo koji način i bilo kojem obliku što uključuje promjenu vizualnog identiteta, dizajna i arhitekture, sustava upravljanja sadržaje te drugih aplikativnih rješenja vezanih uz funkcioniranje Internetskih stranica.</p>
      <h3>Karakter objavljenog sadržaja i odgovornost HTZ-a</h3>
      <p>Sadržaj objavljen i dostupan putem ovim internetskih stranica isključivo je informativnog karaktera i pribavljen iz izvora koje HTZ smatra pouzdanim, bez ikakvog jamstva HTZ-a, bilo koje vrste, izričitog ili prešutnog, da je isti točan, pravodoban, potpun i/ili prikladan za neku određenu svrhu ili određeni način korištenja. Navedeni sadržaj Korisnik koristi isključivo na vlastitu odgovornost i HTZ se ne može smatrati odgovornim za bilo kakvu štetu nastalu korištenjem ili interpretacijom istog.</p>
      <p>Objavljeni sadržaj i informacije ni u kom smislu ne predstavljaju ponudu ili poziv na stavljanje ponude za trgovanje ili bilo koju drugu transakciju u vezi s objavljenim sadržajem i informacijama.</p>
      <h3>Način i svrha korištenja sadržaja</h3>
      <p>HTZ daje Korisniku ograničenu, neprenosivu i neisključivu dozvolu da razgleda, otisne, kopira ili na drugi način koristi sadržaj ovih internetskih stranica, isključivo za svoju osobnu i nekomercijalnu uporabu odnosno u svrhu promocije Hrvatske kao turističke destinacije, pod uvjetom da tako preuzeti sadržaj ne mijenja ili nagrđuje na bilo koji način (uključujući i objavom na internetskim stranicama moralno neprimjerenog sadržaja) te da uz preuzeti sadržaj navede HTZ kao izvor te ime autora navedenog sadržaja.</p>
      <p>Bilo kakav drugi način ili svrha korištenja sadržaja dozvoljeni su isključivo uz prethodnu pisanu suglasnost HTZ-a i/ili drugog zakonitog nositelja autorskog prava nad sadržajem, isključivo od strane osobe kojoj je takva suglasnost dana te na način i u svrhu navedenu u toj suglasnosti.</p>
      <h3>Način pristupa Internetskim stranicama i objavljenom sadržaju</h3>
      <p>Pristup Internetskim stranicama omogućen je neograničenom broju osoba s odgovarajućom računalnom opremom i internetskom vezom. HTZ zadržava pravo da u određenim slučajevima (održavanje, greške, nedostupnost komunikacijskih veza, viša sila, odluke tijela javne vlasti i sl.) privremeno ili duže, u cijelosti ili djelomično ograniči način i mogućnost pristupa internetskim stranicama djelomično ili u cijelosti, kako svim Korisnicima tako i pojedinačnom Korisniku ili grupi Korisnika. U bilo kojem od navedenih slučajeva, HTZ se ne može smatrati odgovornim za bilo kakvu štetu nastalu radi ograničavanja pristupa Internetskih stranica i objavljenom sadržaju.</p>
      <p>Prilikom pristupa Internetskim stranicama i sadržaju Korisnik je dužan koristiti standardnu tehničku opremu i uobičajene standarde i načine pristupa Internetskim stranicama. Sadržaj objavljen na Internetskim stranicama moguće je pretraživati samo primjenom dopuštenih metoda informacijske tehnologije, na onaj način i u onoj količini i mjeri u kojoj je to uobičajeno za fizičku osobu Korisnika. Svaki drugi način pretraživanja i/ili korištenja sadržaja kojim se zaobilaze zaštićeni sustavi i aplikacije informacijske tehnologije ili prilikom kojeg se koriste određene aplikacije ili alati za simultano preuzimanje količine podataka koja nije uobičajena za fizičku osobu Korisnika, predstavlja povredu zaštićenog prava HTZ-a, za što Korisnik snosi odgovarajuću materijalnu, kaznenu ili prekršajnu odgovornost.</p>
      <h3>Sadržaj trećih osoba</h3>
      <p>Internetske stranice mogu sadržavati sadržaja trećih osoba kao što su&nbsp; forumi, screensaveri, aplikacije i sl. koje treće osobe mogu samostalno preuzimati ili kreirati.</p>
      <p>HTZ ne jamči da je takav sadržaj u potpunosti oslobođen od prava trećih osoba, posebice u dijelu u koji se odnosi na intelektualno vlasništvo.</p>
      <p>Iz navedenih razloga HTZ ne odgovara za štetu koja bi Korisniku mogla nastati korištenjem sadržaja trećih osoba u bilo kojem smislu, bez obzira proizlazi li ista iz zahtjeva trećih osoba ili neispravnog funkcioniranja preuzetog sadržaja.</p>
      <h3>Pravo promjene sadržaja</h3>
      <p>HTZ zadržava pravo promjene, ukidanja (privremenog i trajnog) bilo kojeg sadržaja ili usluge na Internetskim stranicama, bez obaveze prethodne najave, i u bilo kojem trenutku te se ne može smatrati odgovornim za bilo kakvu štetu nastalu radi takve radnje.</p>
      <h3>Poveznice na vanjske sadržaje</h3>
      <p>Ove internetske stranice sadrže i informacije trećih osoba i/ili poveznice na druge internetske sadržaje. HTZ ni u kom slučaju ne odgovara za sadržaj na vanjskim izvorima podataka do kojih mogu voditi poveznice s ovih internetskih stranica, niti odgovara odnosno upućuje na način i uvjete korištenja tih sadržaja.</p>
      <p>HTZ ne može jamčiti ni za dostupnost vanjskih sadržaja ili ispravno funkcioniranje poveznica na iste te se ne može smatrati odgovornim za bilo kakvu štetu nastalu radi korištenja takvog sadržaja ili pristupa istom. Korisnik je dužan samostalno odlučivati hoće li istom i na koji način pristupati putem poveznica na ovim Internetskim stranicama te je samostalno odgovoran za takve radnje i svjestan je posljedica koje mogu nastati poduzimanjem istih.</p>
      <h3>Zaštita privatnosti i prikupljanje podataka o Korisnicima</h3>
      <p>HTZ poštuje privatnost svojih Korisnika Internetskih stranica. Podatke iz procesa registracije, te ostali podaci o Korisniku neće se davati na uvid trećoj strani niti će isti biti dostupni trećoj strani osim u slučaju kada je takva obaveza regulirana važećim propisima.</p>
      <p>HTZ može u skladu sa zakonom prikupljati određene podatke o Korisnicima dobivene tijekom korištenja ovih internetskih stranica. Tako prikupljene podatke HTZ primarno koristi u svrhu poboljšanja funkcionalnosti ovih internetskih stranica i njihova sadržaja kako bi iste dodatno usmjerila i prilagodila korisnicima, a može koristiti i za druge aktivnosti koje uključuju promociju hrvatskog turizma odnosno izvršenje zadaća HTZ-a, a što posebice obuhvaća, ali se ne ograničava na:</p>
      <ul>
          <li>izradu analiza navika i preferencija Korisnika za potrebe istraživanja tržišta i optimizacije Internetskih stranica (uključujući i analize dobivene putem alata trećih osoba, npr. Google Analytics i sl)</li>
          <li>prilagodbu Internetskih stranica novim ili drugačijim tehničkim rješenjima ili potrebama Korisnika</li>
          <li>optimizaciju intuitivnosti te lakšeg korištenja i pristupa sadržaju</li>
          <li>remarketinga korisničkih zahtjeva odnosno retargetinga Korisnika u svrhu promocije hrvatskog turizma.</li>
      </ul>
      <p>U svrhu prikupljanja određenih podataka o aktivnostima ili zahtjevima Korisnika, HTZ može koristiti posebne male datoteke, „kolačiće“ (cookies) koji se snimaju na računalo Korisnika i služe za ostvarivanje određene svrhe. U skladu s navedenim HTZ objavljuje i odgovarajuću Politiku korištenja kolačića (cookie policy) koja se objavljuje na Internetskim stranicama i s kojom se Korisnik upoznaje na odgovarajući način kada prvi puta pristupa istima Politika korištenja „kolačića“ (cookie policy) opisuje koje vrste „kolačića“ i u koje svrhe HTZ koristi, te upućuje Korisnika na mogućnost da odbije prihvatiti uporabu kolačića odnosno da istu prihvati čime pristaje na način i svrhu korištenja istih te se u navedenom slučaju HTZ ne može smatrati odgovornim za bilo kakvu štetu nastalu radi pohrane i korištenja kolačića na način i u svrhu na koju je Korisnik pristao prihvaćanjem Politike korištenje „kolačića“ (cookie policy).</p>
      <p>Politika korištenja „kolačića“ (cookie policy) objavljuje se zasebno od ovih Uvjeta korištenja, ali čini njihov sastavni dio.</p>
      <p>Prilikom pristupa Internetskim stranicama HTZ može privremeno pohraniti IP adresu Korisnika. IP adrese mogu se pohranjivati i koristiti isključivo radi praćenja aktivnosti Korisnika na Internetskim stranicama (activity log) u svrhu otkrivanja povreda zakonskih propisa ili ovih Uvjeta korištenja, utvrđivanja nezakonitih ili drugih neprihvatljivih radnji. Podaci o IP adresama i praćenju aktivnosti Korisnika se mogu u bilo koje doba ustupiti nadležnim tijelima javne vlasti radi utvrđivanja bilo kakve na zakonu temeljene odgovornosti Korisnika. Pohranjivanje IP adrese i podataka o aktivnostima Korisnika vrši se privremeno, a najduže na rok od mjesec dana.</p>
      <p>HTZ se obavezuje da će, u skladu s važećim propisima i ovim Uvjetima korištenja, čuvati privatnost Korisnika ovih internetskih stranica, osim u slučaju kršenja ovih Uvjeta korištenja ili postupanja Korisnika na način koji je protivan pozitivnim propisima.</p>
      <h3>Isključivanje (opting out)</h3>
      <p>Prema zadanim postavkama pretraživanja mrežne stranice posjetitelja prati Google Analytics kako bi se izradili anonimni statistički podaci koji se koriste za unapređenje korisničkog iskustva.</p>
      <h3><em>Nemoj me pratiti </em>preferencije</h3>
      <p><em>Nemoj me pratiti </em>funkcija je koja posjetiteljima omogućuje isključivanje opcije da ih mrežne stranice prate u bilo koju svrhu, uključujući upotrebu servisa za analitiku, oglašavačkih mreža i društvenih platformi. Opcije <em>Nemoj me pratiti </em>dostupne su u nizu preglednika uključujući: <a href="https://support.mozilla.org/hr/kb/kako-ukljuciti-opciju-ne-pratiti" target="_blank">Firefox</a>, <a href="https://support.microsoft.com/en-us/products/internet-explorer#ie=ie-11" target="_blank">Internet Explorer</a>, <a href="https://support.google.com/chrome/answer/114836?hl=en&amp;ref_topic=3421433" target="_blank">Chrome</a>, <a href="https://help.apple.com/safari/mac/9.0/#/sfri40732" target="_blank">Safari</a> i <a href="http://help.opera.com/Windows/12.10/en/notrack.html" target="_blank">Opera</a></p>
      <ul>
          <li>ako u svojem pregledniku omogućite opciju <em>Nemoj me pratiti</em>, Google Analytics poštovat će vaš izbor;</li>
          <li>ako ste omogućili opciju Nemoj me pratiti, neće vas se pratiti. To predstavlja dodatak isključivanja prikupljanja i analize podataka za izradu statističkih podataka za našu mrežnu stranicu;</li>
          <li>ako niste omogućili opciju <em>Nemoj me pratiti</em>, ali odlučite isključiti se, kolačić piwik_ignore &nbsp;bit će pohranjen u vašem pregledniku. Niti jednog posjetitelja s kolačićem piwik_ignore Google Analytics neće pratiti;</li>
          <li>ako ste na svojem pregledniku onemogućili sve kolačiće, i dalje ćemo prikupljati neke općenite podatke o vašem pretraživanju (npr. broj posjetitelja na našoj stranici), ali oni će biti manje precizni i vaši posjeti neće biti praćeni (ne upotrebljavaju se Piwik kolačići).<br>
              &nbsp;</li>
      </ul>
      <h3>Registrirani korisnici</h3>
      <p>HTZ može dozvoliti pristup određenom sadržaju samo registriranim Korisnicima. Registriranjem na ovim Internetskim stranicama, Korisnik je obavezan proći postupak registracije, unijeti istinite podatke, te odabrati korisničko ime i lozinku.</p>
      <p>HTZ zadržava pravo ukinuti ili uskratiti mogućnost korištenja korisničkog računa i/ili jedne ili više usluga za koje je korisnik registriran, bez prethodne najave ili/i objašnjenja.</p>
      <p>HTZ ne snosi odgovornost za štetu nastalu ukidanjem korisničkog računa ili/i jedne ili više usluga za koje je Korisnik registriran, kao ni za štetu nastalu neovlaštenom uporabom korisničkog računa od strane trećih osoba.</p>
      <h3>Salvatorna klauzula</h3>
      <p>Ako bi se za neku od odredbi ovih Uvjeta korištenja naknadno utvrdilo da je ništetna, ta činjenica neće imati učinka na ostale odredbe ovih Uvjeta korištenja koje ostaju valjane.</p>
      <h3>Rješavanje sporova i mjerodavno pravo</h3>
      <p>Svi eventualni sporovi u svezi s ovim Uvjetima korištenja, uključujući i sporove vezane uz pitanje njegovog nastanka, sadržaja ili prestanka, nastojat će se riješiti mirnim putem, a u slučaju da u tome ne uspiju ugovaraju nadležnost stvarno nadležnog suda u Zagrebu.</p>
      <p>Ovi Uvjeti korištenja sastavljeni su u skladu s hrvatskim pravom te se na njih i na sporove koji iz njih proizlaze primjenjuje hrvatsko pravo bez primjene odredbi hrvatskog prava o upućivanju na treće pravo (renvoi) u dijelu u kojem je to dopušteno međunarodnim propisima.</p>
      <h3>Izmjene uvjeta korištenja</h3>
      <p>HTZ zadržava pravo izmjene ovih Uvjeta korištenja u bilo kojem trenutku te nije niti će biti odgovoran za moguće posljedice proizašle iz takvih promjena. Navedene promjene stupaju na snagu danom objave na ovim internetskim stranicama.</p>

    </div>
  </div>
</template>
<script>

</script>

<style scoped lang="scss">

.wrap {
    background-color: #ffffff;
    padding: 4rem 0;
    color: #212121;
}

.wrap-inner {
    max-width: 1024px;
    margin: 0 auto;
    text-align: left;
}

ol.tos {
    text-align: left;
    list-style: none;
}

ol.tos > li {
        margin: 2rem 0;
}

ol.tos > li > strong {
    margin-bottom: 1rem;
    display: block;
    color: #212121;
    font-size: 1.1rem;
}

</style>