<template> 
<div>
     <b-carousel
      id="carousel-1"
      
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1920"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      
    >
      <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          :src="slika"
          alt="image slot"
        >
      </b-carousel-slide>


    
    </b-carousel>
</div>
</template>

<script>
  export default {
  name: 'Carusel',
  components: {
   
  },
  props: {
    slika: String
  },

}
</script>
<style>

</style>

