<template>
  <div class="header">
      <img src="../assets/headline-dobrodosli2.png" />
  </div>
</template>

<script>
// @ is an alias to /src
// import ClientQuery from '@/components/ClientQuery.vue'

export default {
  key(route) {
    return route.fullPath
  },
  name: 'ClientHeader',
  components: {
  },
  data: function () {
    return {
  }
  }
}
</script>
<style lang="scss" scoped>
.header{
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20vh 0;
  background-image: url('~@/assets/main-bkg.jpg');
  img {
    width: 80%;
    max-width: 600px;
  }
}
</style>

